<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaomy.book_city.admin.mapper.BookManageMapper">
  <select id="queryBooks" resultType="com.xiaomy.book_city.app.entity.Book">
    select * from res_data where 1=1
    <if test="bookname != null">and name like '%'||#{bookname}||'%'</if>
    <if test="userId > 0">and author = #{userId}</if>
    and state != ${@com.xiaomy.book_city.app.constant.StateType@REMOVE}
    order by id desc
  </select>

  <update id="removeBookById">
    update res_data set
    state = ${@com.xiaomy.book_city.app.constant.StateType@REMOVE}
    where id in
    <foreach collection="bookId" index="index" item="item"
      separator="," open="(" close=")">
      #{item}
    </foreach>
  </update>

  <update id="updateBook">
    update res_data
    <set>
      <if test="bookname">bookname = #{bookname},</if>
      <if test="author != null">author = #{author},</if>
      <if test="updatetime != null">updatetime = #{updatetime},</if>
      <if test="synopsis != null">synopsis = #{synopsis},</if>
      <if test="classify > 0">classify = #{classify},</if>
      <if test="cover != null">cover = #{cover},</if>
      <if test="price != null">price = #{price}</if>
    </set>
    where id = #{id}
  </update>

  <insert id="addBook">
    insert into res_data(
      bookname,
      author,
      createtime,
      synopsis,
      classify,
      price,
      cover,
      order_by
    )values (
      #{bookname},
      #{author},
      #{createtime},
      #{synopsis},
      #{classify},
      #{price},
      #{cover},
      #{orderBy}
    )
  </insert>

  <select id="BookClass" resultType="com.xiaomy.book_city.admin.entity.BookClass">
    select * from data_class
  </select>

  <select id="findBookByBookName" resultType="java.lang.Integer">
    select id from res_data where bookname = #{bookName}
  </select>
</mapper>